* {
  font-family: "Times New Roman", sans-serif;
}

body {
  margin: 0;
  background: rgba(212, 212, 214, 0.51);
}

a:link, a:hover, a:visited, a:active {
  color: black;
  text-decoration: none;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-bold {
  font-weight: bold;
}

.cross-bg {
    background-image: url("../images/cross.png");
    background-size: cover;
}

.page {
  margin: auto;
  height: 100%;
  width: 1150px;
  padding-top: 5px;
}

.page .element {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.page .header {
  justify-content: center;
  height: 150px;
  width: 1150px;
  margin-bottom: 20px;
}

.page .header .advert {
  background: #F3F3F5;
  width: 250px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  border: black 1px solid;
}

.page .header .logo {
  width: 500px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

.page .header .logo .logo-text {
  width: 100%;
  height: 100px;
  background: #F3F3F5;
  margin-bottom: 10px;
  border: black 1px solid;
}

.page .header .logo .logo-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 38px;
}

.page .header .logo .logo-items .item {
  height: 100%;
  width: 31.5%;
  background: #A8A9AD;
  border: black 1px solid;
  font-size: 12px;
}

.page .navigation {
  justify-content: center;
  height: 40px;
  width: 1150px;
  margin-bottom: 20px;
}

.page .navigation .navigation-items {
  display: flex;
}

.page .navigation .navigation-items .item {
  height: 100%;
  width: 203px;
  background: #A8A9AD;
  border: black 1px solid;
}

.page .search {
  height: 60px;
  width: 1150px;
  margin-bottom: 20px;
}

.page .search .search-items {
  display: flex;
  margin-left: 63px;
  width: 1025px;
  background: #c0c0c0;
  border: black 1px solid;
}

.page .search .search-items .item {
  margin-left: 5px;
  margin-right: 5px;
}

.page .search .search-items .search-label {
  margin-left: 10px;
  margin-top: 7px;
}

.page .search .search-items .search-button {
  margin-top: 10px;
  height: 36px;
}

.page .search .search-items .search-text {
  margin-top: 12px;
  background: #F3F3F5;
  height: 30px;
  width: 550px;
  border: none;
}

.page .search .search-items .advanced-search {
  margin-top: 36px;
  font-size: 12px;
}

.page .main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1150px;
  margin-bottom: 20px;
}

.page .main .spotlight {
  margin-bottom: 0;
}

.page .main .spotlight .spotlight-item {
  width: 150px;
  height: 100%;
  margin-left: 63px;
  border: none;
  background: #c0c0c0;
}

.page .main .after-spotlight {
    margin-top: 0;
}

.page .main .main-block {
  display: flex;
  justify-content: center;
}

.page .main .main-block .news {
  background: #c0c0c0;
  width: 503px;
  height: 312px;
  margin-left: 5px;
  margin-right: 5px;
  border: black 1px solid;
}

.page .main .main-block .advert {
  background: #F3F3F5;
  width: 503px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  border: black 1px solid;
}

.page .main .main-block .item {
  background: #F3F3F5;
  width: 246px;
  height: 150px;
  margin-left: 5px;
  margin-right: 5px;
  border: black 1px solid;
}

.page .main .main-block .item-gray {
  background: #c0c0c0;
}

.page .main .main-block .column-item {
  margin-bottom: 10px;
}
