body {
  margin: 0;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  margin: auto;
  height: 100%;
  width: 60%;
  background: green;
  padding-top: 5px;
}

.page .element {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
}

.page .header {
  justify-content: center;
  height: 200px;
}

.page .header .advert {
  background: #F3F3F5;
  width: 250px;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.page .header .logo {
  width: 500px;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.page .header .logo .logo-text {
  width: 100%;
  height: 70%;
  background: #F3F3F5;
  margin-bottom: 10px;
}

.page .header .logo .logo-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25%;
}

.page .header .logo .logo-items .item {
  height: 100%;
  width: 31.5%;
  background: #A8A9AD;
}

.page .navigation {
  justify-content: center;
  height: 40px;
}

.page .navigation .navigation-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page .navigation .navigation-items .item {
  height: 100%;
  width: 200px;
  background: #A8A9AD;
  margin-left: 5px;
  margin-right: 5px;
}
