body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-basis: 100px;
    flex-grow: 1;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    flex-grow: 1;
    margin: auto;
}

.navigation {
    margin: 5px;
}

.search {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: lightsteelblue;
}

.search input[type="text"] {
    width: 60%;
    margin: 5px;
}

.advancedSearch {
    align-self: end;
}

.greyBackground {
    background-color: grey;
}

.navigationElement {
    list-style-type: none;
    font-size: x-large;
}

.navigationElement + a:visited,
.navigationElement + a:hover,
.navigationElement + a:link,
.navigationElement + a:active {
    color: black;
    text-decoration: none;
}

.box {
    display: flex;
    flex-grow: 1;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
}

.baseBox {
    margin: 5px;
    height: 120px;
    background-color: #cccccc;
}

.darkGrayBox {
    background-color: #aaaaaa;
}

.longBox {
    flex-grow: 1.5;
}

.highBox {
    height: 240px;
}

.logoBox {
    height: 60%;
}

.shortBox {
    height: 47%;
}

.smallBox {
    flex-grow: 0.333333333;
}

.spotlight {
    width: 120px;
    align-self: baseline;
    margin: 0 0 0 5px;
    background-color: lightsteelblue;
    border-bottom: none;
    height: 20px;
}

.main {
    margin-top: -5px;
}
